In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis

C:\Users\User\AppData\Local\conda\conda\envs\ML2\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [2]:
titanic = pd.read_csv("titanic_dataset.csv")

In [3]:
titanic.head()
print(titanic['fare'][titanic['fare'] >300])

49     512.3292
50     512.3292
183    512.3292
302    512.3292
Name: fare, dtype: float64

In [4]:
titanic["sex"] = titanic["sex"].apply(lambda x: 1 if x == "male" else 0)
print(titanic["embarked"])

0         S
1         S
2         S
3         S
4         S
5         S
6         S
7         S
8         S
9         C
10        C
11        C
12        C
13        S
14        S
15        S
16        C
17        C
18        C
19        C
20        S
21        S
22        C
23        C
24        S
25        C
26        C
27        C
28        S
29        S
       ...
1280      S
1281      S
1282      S
1283      S
1284      S
1285      S
1286      C
1287      S
1288      S
1289      S
1290      S
1291      S
1292      S
1293      S
1294      S
1295      S
1296      S
1297      S
1298      S
1299      C
1300      C
1301      C
1302      C
1303      C
1304      C
1305      C
1306      C
1307      C
1308      S
1309    NaN
Name: embarked, Length: 1310, dtype: object

In [5]:
titanic = titanic[np.isfinite(titanic['age'])]
titanic = titanic[np.isfinite(titanic['fare'])]
#removing null data
x = titanic[["pclass","sex", "fare", "age"]]
print(x.count())
print(titanic['survived'].count())
y = titanic['survived']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.33, random_state = 50)

pclass    1045
sex       1045
fare      1045
age       1045
dtype: int64
1045

In [6]:
rfc = RandomForestClassifier(n_estimators = 1000)
#rfc = DecisionTreeClassifier(max_depth=5)
#rfc = LogisticRegression()
rfc.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [7]:
prediction = rfc.predict(x_test)
print (classification_report(y_test, prediction))

             precision    recall  f1-score   support

        0.0       0.80      0.87      0.83       198
        1.0       0.80      0.70      0.75       147

avg / total       0.80      0.80      0.79       345

while(True):
    me = input("Class Sex Fare Age: ").split(" ")
    data = {'pclass': [int(me[0])], 'sex': [int(me[1])], 'fare': [int(me[2])], 'age' : [int(me[3])]}
    me = pd.DataFrame(data)
    prediction = rfc.predict(me)
    if(prediction[0] == 0):
        print("You died")
    else:
        print("You survived")

In [8]:
output = titanic[["pclass","sex", "fare", "age", "survived"]]
print(output.head())
output.to_csv('processed_titanic_df.csv')

   pclass  sex      fare      age   0
0     1.0  0.0  211.3375  29.0000 NaN
1     1.0  1.0  151.5500   0.9167 NaN
2     1.0  0.0  151.5500   2.0000 NaN
3     1.0  1.0  151.5500  30.0000 NaN
4     1.0  0.0  151.5500  25.0000 NaN

C:\Users\User\AppData\Local\conda\conda\envs\ML2\lib\site-packages\pandas\core\indexes\api.py:107: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  result = result.union(other)